<%= form_with :model => @post do |form| %>
  <p>
    <%= form.label "Title" %>
    <%= form.text_field "author" %>
  </p>
  <p>
    <%= form.label "body" %>
    <%= form.text_field "body" %>
  </p>
  <p>
    <%= form.label "image" %>
    <%= form.text_field "image" %>
  </p>
   <p>
    <%= form.label "place_id" %>
    <%= form.collection_select "company_id", Company.all, "id", "name" %>
  </p>
  <%= form.submit %>
<% end %>